*.pyc
*.log
node_modules
coverage/
graves/logs
graves/export_deliverables
graves/cantaloupe/*
graves/staticfiles
graves/media/packages
graves/media/build/
graves/uploadedfiles/*
graves/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
frontend_configuration

# Packaging
build/
dist/
